.testgrid {
  margin: 4em 0 3em 0;
}
.testgrid p.col-content {
  background: #6a4895;
  margin-bottom: 2em;
  font-size: 0.75em;
  line-height: 1em;
  padding: 1em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Open Sans", Helvetica, Arial, Sans-serif;
}
.header{
  background: #680148;
  color: #fff;
  padding: 4em 0;
  text-align: center;
}

.mast{
  font-size: 4em;
  font-weight: 300;
  margin-bottom: .5em;
  text-transform: uppercase;
}