/*
 	
	Mobile and up
 
*/

.col-group {
	.clearfix();
}

.col-group [class*="col-"] {
	padding-left: @gutterWidth / 2;
	padding-right: @gutterWidth / 2;
	float: left;
	min-height: 1px;
	.box-sizing(border-box);
}

.col-group [class*="push-"],
.col-group [class*="pull-"] {
	position: relative;
}

// Columns

.columns (@index) when (@index > 0) {
	.col-mb-@{index} {
		width: @columnWidth * @index;
		padding-right: @gutterWidth / 2;
		padding-left: @gutterWidth / 2;
	}
	.columns(@index - 1);
}
.columns (0) {}
.columns (@columns);